*{margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;
}

body{
  background-color: rgb(10, 81, 105);
}


.container .signup-login .judul{
  font-size: 2rem;
  text-align: center;
  font-weight: 800px;
}
.container{
  margin: auto;
  width: 450px;
  min-height: 450px;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  box-shadow: 1px,1px,5px black;
  padding: 40px 30px;
}
.container .login-text{
  color: #111;
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 20px;
  display: block;
  text-transform: capitalize;
}
.container .signup-login .input-group{
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
}
.container .signup-login .input-group input{
  width: 100%;
  height: 100%;
  border: 2px solid rgb(182, 112, 21);
  background: transparent;
  padding: 15px 20px;
  font-size: 1rem;
  outline: none;
  transition: .3s;
}

.container .signup-login .input-group .btn:hover{
  transform: translate(-5px);
  background: rgb(212, 145, 57);
}
.login-register-text{
  color: #111;
  font-weight: 600;
}
.login-register-text a{
  text-decoration: none;
  color: rgb(212, 145, 57);
  @media(max: widht 430px;){
      .container{
          width: 430px;
      }
  }
}
input{
  width: 100%;
  height: 100%;
  border: 2px solid black;
  padding: 15px 20px;
  font-size: 1rem;
  border-radius: 30px;
  background: transparent;
  transition: .3s;
}
.container .signup-login .input-group .btn{
  display: block;
  width: 100%;
  padding: 15px 20px;
  text-align: center;
  border: none;
  background: rgb(212, 145, 57);
  outline: none;
  border-radius: 30px;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  transition: .3s;
}
.container .signup-login .input-group .btn:hover{
  transform: translate(-5px);
  background: rgb(212, 145, 57);
}
.login-register-text{
  color: #111;
  font-weight: 600;
  text-align: center;

}

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}
.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
.footer-distributed p.footer-links a:hover{text-decoration:underline;}
@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}